@use "../../../css/variables.scss" as *;

.form-modal {
    .modal-content {
        background-color: #111111;
        // border: 1.5px solid rgba(255, 255, 255, .2);
    }

    &.status .modal-body .icon {
        color: #5c56a8 !important;
    }

    .model-header {
        padding: 20px 15px 10px 15px;

        display: flex;
        justify-content: end;

        .btn-close {
            background-image: url("/public/images/close.png") !important;
            font-size: 16px;
        }

        .btn-close:focus {
            outline: 0;
            box-shadow: none;
        }
    }

    .modal-body {
        padding: 20px 15px 10px 23px;

        .icon {
            font-size: 8rem;
            color: #f15e5e;
        }

        .text {
            h3 {
                font-size: 20px;
                font-weight: 600;
                color: $color1;
                margin-bottom: 12px;
            }

            p {
                font-size: 1.4rem;
                font-weight: 400;
                color: $color3;
                margin-bottom: 12px;
            }
        }

        form {
            text-align: left;

            .form-label {
                font-size: 16px;
                font-weight: 600;
                color: #FFFF;
            }

            .form-control {
                padding: 10px;
                border-radius: 10px;
                background-color: #1c1c1e;
                color: #FFFF;
            }

            .form-control::placeholder {
                padding: 5px;
                border-radius: 10px;
                background-color: #1c1c1e;
                color: #FFFF;
            }

            .add-offcanvas .offcanvas-body .form-control:focus {
                outline: none;
                // border-color: #fff;
                background-color: #1c1c1e;
            }
        }
    }

    .modal-footer {
        border: none;
        justify-content: end;
        gap: 12px;
        padding: 0 15px 15px 15px !important;

        button {
            font-size: 16px;
            font-weight: 500;
            color: $color1;
            border: none;
            padding: 8px 30px;
            border-radius: 10px;
        }

        .close-btn {
            background-color: #4A5DF9;
        }

        .delete-btn {
            background-color: #a60a19;

            transition: background-color 0.3s ease;

            &.btn-loading {
                opacity: 0.6;
                cursor: not-allowed;
            }

            span {
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }
}