@use "../../../css/variables.scss" as *;


.delete-modal {
    .modal-content {
        background-color: #111111;
        // border: 1.5px solid rgba(255, 255, 255, .2);
    }

    &.status .modal-body .icon {
        color: #5c56a8 !important;
    }

    .model-header {
        padding: 20px 15px 10px 15px;

        display: flex;
        justify-content: end;

        .btn-close {
            background-image: url("/public/images/close.png") !important;
            font-size: 16px;
        }

        .btn-close:focus {
            outline: 0;
            box-shadow: none;
        }

        button:focus {
            outline: 0;
            box-shadow: none;
        }
    }

    .modal-body {
        padding: 10px 15px 10px 23px;

        .icon {
            font-size: 8rem;
            color: #f15e5e;
        }

        .remove-img {
            height: 60px;
            width: 60px;
        }

        .text {
            h3 {
                font-size: 20px;
                font-weight: 600;
                color: $color1;
                margin-bottom: 12px;
                text-align: left;
            }

            p {
                font-size: 18px;
                font-weight: 500;
                color: $color1;
                margin-bottom: 5px;
                text-align: center;

            }
        }
    }

    .modal-footer {
        border: none;
        justify-content: center;
        gap: 12px;
        padding: 0 15px 35px 15px !important;

        button {
            font-size: 16px;
            font-weight: 500;
            color: $color1;
            border: none;
            padding: 8px 30px;
            border-radius: 10px;
        }

        .close-btn {
            background-color: #4A5DF9;
        }

        .delete-btn {
            background-color: #a60a19;

            transition: background-color 0.3s ease;

            &.btn-loading {
                opacity: 0.6;
                cursor: not-allowed;
            }

            span {
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }
}

.modal-title {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    padding-top: 35px;
}